@model CarParkingSystem.Models.RegisteredUser
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}




<div class="landingDoor">
    <h1 style="text-align:center; margin-bottom: 35px; font-size: 30px;" class="profileHeader">Profile</h1>
    @* showing the personal info*@
    <div class="profile">
        <div class="col-md-4">
            <p>Information:</p>  <br />
            <b > Name: </b>@Model.Name <br />
            <b>UserCode: </b> @Model.UserCode<br />
            <b>Address: </b> @Model.Address<br />
            <b>Contact: </b> @Model.Contact<br />
            <b>Email: </b> @Model.Email<br />
        </div>
        @*for showing the Last checkIn time*@
        <div class="log">
            <p>Check in Log:</p>
            <br />
            @{
                using (CarParkingSystem.Models.DataBaseContext db = new CarParkingSystem.Models.DataBaseContext())
                {
                    var checkIns = db.CheckIns.Where(ch => ch.UserCode == Model.UserCode).ToList().OrderByDescending(x => x.CheckInTime).Take(4);


                    foreach (var item in checkIns)
                    {
                        @item.CheckInTime<br />
                    }
                }

            }
        </div>
        @* for showing the balace*@
        <div class="balance">
            <p>Balance: </p>
            <br />
            @{
                using (CarParkingSystem.Models.DataBaseContext db = new CarParkingSystem.Models.DataBaseContext())
                {
                    var balance = db.Accounts.Where(ac => ac.RUId == Model.Id).OrderByDescending(x => x.Id).First();
                    if (balance.Balance < 200)
                    {
                        <label>Balance:</label> <p style="color:red;">@balance.Balance</p>
                    }
                    else
                    {
                        <label>Balance:</label>
                        @balance.Balance <span>Taka</span>
                    }
                }
            }
        </div>
    </div>
</div>