@model IEnumerable<CarParkingSystem.Models.CheckOut>

@{
    ViewBag.Title = "CarReportList";
}

<h2 class="text-center text-info">Month Wise Car Report</h2><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarNo)
        </th>
        <th>
            Check In Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCode)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
           <a href="~/Report/CountOfPark_Car?CarId=@item.CarId"> @Html.DisplayFor(modelItem => item.Car.CarNo) </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn.CheckInTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCode)
        </td>
    </tr>
}

</table>
