<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Parking Management System</title>
    <link href="~/Content/Nav.css" rel="stylesheet" />
    <link href="~/Content/floor.css" rel="stylesheet" />
    <link href="~/Content/body.css" rel="stylesheet" />
    <link href="~/Content/reg.css" rel="stylesheet" />
    <link href="~/Content/userList.css" rel="stylesheet" />
    <link href="~/Content/Report.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img class="body_img" src="~/Image/Group 8.png" />
    <div class="body">
        <div class="nav">
            <h2><a href="/">CODERs</a></h2>
            <hr />  
            <p>@Html.ActionLink("Report", "Report", "Report")</p>
            <p>@Html.ActionLink("Checked In", "Index", "CheckIn")</p>
            <p>@Html.ActionLink("Registration", "Registration", "User")</p>
            <p>@Html.ActionLink("Registered User", "Index1", "User")</p>
            <p>@Html.ActionLink("General Check In", "GeneralUserRegistration", "User")</p>

            <footer>
                <p>@Html.ActionLink("LogOut", "Logout", "User")</p>
            </footer>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/scrypt.js"></script>
</body>
</html>
