@model IEnumerable<CarParkingSystem.Models.RegisteredUser>

    
<div class="info"><h1 align="center">Registered User List</h1></div><br /><br/>
<div class="col-md-offset-4">
<p>
    @{ using (Html.BeginForm("Index1","User",FormMethod.Get))
        {
            <label>Search By UserCode:</label>
            @Html.TextBox("Search")
            <input type="submit" value="Search" />
        }

    }
</p>
</div>
<br />
<br />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Email</th>
        <th>Car No</th>
        <th>Registration Date</th>
        <th>User Type</th>
        <th>Action</th>
    </tr>



    @foreach(var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Contact</td>
        <td>@item.DOB</td>
        <td>@item.Address</td>
        <td>@item.Email</td>
        <td>@item.Car.CarNo</td>
        <td>@item.RegistrationDate</td>

        @if (item.UserType == "U")
        {
            <td>User</td>
        }
        else
        { 
            <td>Admin</td>
        }
        <td><a href="../../CheckIn/CheckIn?RUid=@item.Id">Check In</a></td> @* Passing the Userid to the Checkin action for query*@   
    
    </tr>
    }
</table>

