@model IEnumerable<CarParkingSystem.Models.RegisteredUser>

    
<div class="userTable" style="text-align:center;">
    <div class="info"><h1 align="center">Registered User List</h1></div>

    <p>@Html.ActionLink("Create New", "Registration", "User") </p>
    <div class="regForm" style="text-align:center">
        @{ using (Html.BeginForm("Index1", "User", FormMethod.Get))
            {
                <label style="font-size: 16px">Search By UserCode </label>
                @Html.TextBox("Search")
                <input type="submit" value="Search" />
            }

        }
    </div>
<br />
<br />

<table align="center">
    <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>User Code</th>
        <th>Address</th>
        <th>Email</th>
        <th>Car No</th>
        <th>Registration Date</th>
        <th>Action</th>
    </tr>



    @foreach(var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Contact</td>
        <td>@item.UserCode</td>
        <td>@item.Address</td>
        <td>@item.Email</td>
        <td>@item.Car.CarNo</td>
        <td>@item.RegistrationDate</td>
        <td><a href="../../CheckIn/CheckIn?RUid=@item.Id">Check In</a></td> @* Passing the Userid to the Checkin action for query*@   
    
    </tr>
    }
</table>

    </div>
