@model CarParkingSystem.Models.Bill

@{
    ViewBag.Title = "Bill";
}
@{
    string name,address,contact;
    using (CarParkingSystem.Models.DataBaseContext db = new CarParkingSystem.Models.DataBaseContext())
    {

        var userData = db.RegisteredUsers.Where(ru => ru.UserCode == Model.UserCode).FirstOrDefault();
        if (userData != null)
        {
            name = userData.Name;
            address = userData.Address;
            contact = userData.Contact;
        }
        else
        {
            var general = db.Users.Where(gu => gu.UCode == Model.UserCode).FirstOrDefault();
            name = general.Name;
            address = general.Address;
            contact = general.Contact;
        }
    }
}
}
<div style="text-align:center" class="billContainer">
    <div class="showbill" id="PrintArea" style="margin-top: 45px; text-align: left;">

        <h1 style="text-align: center; margin: 35px 0; color: #23AEFF;">Invoice</h1>

        <b style="color: #23AEFF; margin: 15px 0;">Name: </b> @name<br />
        <b style="color: #23AEFF;">Car: </b> No Of Car:   @Model.CarId<br />
        <b style="color: #23AEFF;">Contact: </b> @contact<br />
        <b style="color: #23AEFF;">Address: </b> @address<br />
        <b style="color: #23AEFF;">CheckIn Time: </b> @Model.CheckIn.CheckInTime <br />
        <b style="color: #23AEFF;">CheckOutTime: </b> @Model.CheckOut.CheckOutTime<br />

        <div class="userTable">
            <table width="100%" align="center" style="text-align: center;">
                <tr>
                    <th>Parked Hour</th>
                    <th>Unit</th>
                    <th>Discount</th>
                    <th>Total</th>

                </tr>
                <tr>
                    <td>@Model.TotalHour</td>
                    <td>50</td>
                    <td>@Model.Discount</td>
                    <td>@Model.Total</td>

                </tr>
            </table>
        </div>
    </div>
    <button class="printBtn">Print</button>

</div>
<script>
    let pdiv = document.querySelector(".printBtn")
    pdiv.addEventListener("click", () => {
        var printContents = document.getElementById("PrintArea").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    })
</script>